@charset "UTF-8";
/* easeOutExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 15px;
}
p:first-of-type {
  margin-top: 0;
}

.text-decor {
  position: relative;
}
.text-decor:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f59348;
  margin-top: 15px;
}
.text-decor.text-decor_center:after {
  margin: 15px auto 0 auto;
}

.tout-copy {
  z-index: 2;
  position: relative;
  max-width: 450px;
  padding: 0 0;
}
.tout-copy h3 {
  font-size: 45px;
  line-height: 50px;
  text-transform: uppercase;
}
.tout-copy h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #f59348;
}

.primary-btn {
  display: inline-block;
  border: none;
  background: transparent;
  color: #273050;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.primary-btn i {
  margin-left: 10px;
}
.primary-btn:focus {
  outline: none;
}
.primary-btn:hover i {
  -webkit-animation: arrow-move .6s 1;
  -moz-animation: arrow-move .6s 1;
  -o-animation: arrow-move .6s 1;
  animation: arrow-move .6s 1;
}

.scroll-cue {
  position: absolute;
  z-index: 10;
  bottom: 80px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  color: white;
  text-align: center;
}
.scroll-cue span {
  display: inline-block;
  position: relative;
}
.scroll-cue:after {
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: 0;
  display: inline-block;
  content: "";
  width: 1px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  animation: scrollCue 2s ease-out infinite;
}

@keyframes scrollCue {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 30px;
  }
  55% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 30px;
  }
  70% {
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    height: 0;
  }
  85% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 0;
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 30px;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  color: #273050;
}
html.active, body.active {
  overflow: hidden;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#main.active {
  -moz-transform: translateX(250px);
  -o-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-large {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.col-1-2 {
  width: 50%;
  float: left;
}
.col-1-2 img {
  width: 100%;
}

.col-1-3 {
  width: 32.666666%;
  float: left;
  margin-right: 1%;
}
.col-1-3:last-child {
  margin-right: 0;
}

.col-1-4 {
  width: 25%;
  float: left;
}

.col-1-5 {
  width: 20%;
  float: left;
}
.col-1-5 img {
  display: block;
  width: 100%;
  height: auto;
}

.col-1-75 {
  width: 75%;
  float: left;
}
.col-1-75 img {
  width: 100%;
}

.col-1-25 {
  width: 25%;
  float: left;
}

@-webkit-keyframes arrow-move {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  30% {
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes arrow-move {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  30% {
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes arrow-move {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  30% {
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes arrow-move {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  20% {
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  30% {
    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.home-hero {
  position: relative;
  width: 100%;
  height: 90%;
  max-height: 960px;
  min-height: 600px;
}
.home-hero #home-hero-copy {
  position: relative;
  z-index: 2;
  text-align: center;
}
.home-hero #home-hero-copy.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}
.home-hero #home-hero-copy .sliding-text {
  position: relative;
}
.home-hero #home-hero-copy h2 {
  position: relative;
  z-index: 4;
  font-size: 200px;
  line-height: 200px;
  color: white;
}
.home-hero #home-hero-copy h2:after {
  width: 100px;
  height: 5px;
}
.home-hero .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e2e;
  overflow: hidden;
}
.home-hero .video-wrap video {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-backface-visibility: none;
}
.home-hero .video-wrap video.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

@media (max-width: 960px) {
  .home-hero {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .home-hero #home-hero-copy h2 {
    position: relative;
    z-index: 4;
    font-size: 150px;
    line-height: 150px;
    color: white;
  }
  .home-hero #home-hero-copy h2:after {
    width: 70px;
    height: 4px;
  }
}
@media (max-width: 600px) {
  .home-hero {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .home-hero #home-hero-copy h2 {
    position: relative;
    z-index: 4;
    font-size: 80px;
    line-height: 80px;
    color: white;
  }
  .home-hero #home-hero-copy h2:after {
    width: 50px;
    height: 4px;
  }
}
@media (max-width: 480px) {
  .home-hero #home-hero-copy h2 {
    font-size: 65px;
    line-height: 65px;
  }
  .home-hero #home-hero-copy h2:after {
    width: 50px;
    height: 4px;
  }
}
.home-driver-stories {
  padding: 250px 0 250px 0;
  background: #273050;
  overflow: hidden;
}
.home-driver-stories .bg-text {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -190px;
  z-index: 4;
  font-size: 225px;
  line-height: 225px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.035);
}
.home-driver-stories .col-1-2 {
  position: relative;
}
.home-driver-stories .col-1-2:first-child {
  z-index: 50;
}
.home-driver-stories .col-1-2:first-child h4 {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 4;
  bottom: 50px;
}
.home-driver-stories .col-1-2:last-child {
  padding: 60px;
}
.home-driver-stories h4 {
  position: absolute;
  z-index: 6;
  width: 100%;
  text-align: center;
  bottom: 50px;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 2px;
  color: white;
}
.home-driver-stories h3 {
  font-size: 35px;
  line-height: 35px;
  color: white;
}
.home-driver-stories p {
  color: rgba(255, 255, 255, 0.5);
}
.home-driver-stories .primary-btn {
  margin-top: 40px;
  color: #f59348;
}
.home-driver-stories img {
  position: relative;
  z-index: 2;
  display: block;
  box-shadow: 0 50px 120px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .flipping-drivers-slider-next-btn {
    display: none;
  }

  .home-driver-stories {
    padding: 70px 0 15px 0;
  }
  .home-driver-stories .tout-copy {
    max-width: 100%;
    text-align: center;
  }
  .home-driver-stories .flex-center-v {
    display: block;
  }
  .home-driver-stories .bg-text {
    display: none;
  }
  .home-driver-stories .col-1-2 {
    width: 100%;
    float: none;
  }
  .home-driver-stories .col-1-2:last-child {
    padding: 60px 0;
  }
  .home-driver-stories p {
    font-size: 14px;
    line-height: 24px;
  }
  .home-driver-stories h4 {
    display: none;
  }
  .home-driver-stories h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .home-driver-stories img {
    box-shadow: 0 25px 60px 0 rgba(0, 0, 0, 0.5);
  }
  .home-driver-stories .text-decor:after {
    margin: 15px auto 0 auto;
  }
}
.flipping-drivers {
  perspective: 800px;
}

.flipping-drivers-slider {
  position: relative;
}

.flipping-drivers-slide {
  position: relative;
  perspective: 800px;
  -moz-transform: rotateY(20deg);
  -o-transform: rotateY(20deg);
  -ms-transform: rotateY(20deg);
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  filter: alpha(opacity=0);
}
.flipping-drivers-slide img, .flipping-drivers-slide h4 {
  will-change: transform;
  -webkit-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.flipping-drivers-slide.active {
  -moz-transform: rotateY(0) rotateX(0);
  -o-transform: rotateY(0) rotateX(0);
  -ms-transform: rotateY(0) rotateX(0);
  -webkit-transform: rotateY(0) rotateX(0);
  transform: rotateY(0) rotateX(0);
  opacity: 1;
  filter: alpha(opacity=100);
}

.home-programs {
  overflow: hidden;
  position: relative;
  padding: 0;
  text-align: center;
  padding: 90px 0;
}
.home-programs h2 {
  font-size: 35px;
  line-height: 35px;
}
.home-programs .col-1-3 {
  position: relative;
  background: white;
  margin: 0 8px;
  overflow: hidden;
  cursor: pointer;
}
.home-programs .col-1-3:hover img {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.home-programs .program-img {
  position: relative;
  z-index: 0;
  background: #191e2e;
}
.home-programs .program-img img {
  display: block;
  width: 100%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.home-programs .programs-copy {
  position: absolute;
  z-index: 4;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
}
.home-programs .programs-copy h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .slider-next-btn {
    display: none;
  }

  .home-programs {
    position: relative;
    padding: 0;
    text-align: center;
    padding: 50px 0 0 0;
  }
  .home-programs .container {
    padding: 0 15px;
  }
  .home-programs h2 {
    font-size: 35px;
    line-height: 35px;
  }
  .home-programs p {
    font-size: 14px;
    line-height: 24px;
  }
  .home-programs .col-1-3 {
    width: 100%;
    float: none;
    position: relative;
    background: white;
    margin: 0 0 15px 0;
    overflow: hidden;
    cursor: pointer;
  }
  .home-programs .col-1-3:hover img {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .home-programs .program-img {
    position: relative;
    z-index: 0;
    background: #191e2e;
  }
  .home-programs .program-img img {
    display: block;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .home-programs .programs-copy {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 20px;
    color: white;
    text-align: left;
  }
  .home-programs .programs-copy h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media (max-width: 480px) {
  .home-programs h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
.home-programs-slider {
  position: relative;
  margin-top: 40px;
}
.home-programs-slider .slick-slide:focus {
  outline: none;
}

.slick-dots {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
}
.slick-dots li button {
  border: none;
  background: #ccc;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 10px;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li.slick-active button {
  background: #273050;
}

.slider-next-btn {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 50%;
  margin-top: 35px;
  right: -40px;
  width: 20px;
  height: 20px;
}
.slider-next-btn i {
  font-size: 20px;
  color: #273050;
}

.flipping-drivers-slider-next-btn {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 50%;
  margin-top: -30px;
  right: -30px;
  width: 56px;
  height: 56px;
  background: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 60px;
}
.flipping-drivers-slider-next-btn i {
  font-size: 18px;
  color: #273050;
}

.home-core-values {
  overflow: hidden;
  position: relative;
  padding: 100px 0 70px 0;
  background: white;
  text-align: center;
}
.home-core-values h2 {
  font-size: 150px;
  line-height: 170px;
  font-weight: 600;
  color: #273050;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.home-core-values .home-core-values_values {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 20px;
  top: 50%;
  margin-top: -22px;
}
.home-core-values span {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 5px;
  padding-top: 12px;
}
.home-core-values span.divider {
  color: #ddd;
}
.home-core-values .primary-btn {
  margin-top: 30px;
  color: #f59348;
}

@media (max-width: 480px) {
  .home-core-values {
    overflow: hidden;
    position: relative;
    padding: 40px 0 50px 0;
    background: white;
    text-align: center;
  }
  .home-core-values h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    color: #273050;
    opacity: 0.15;
    filter: alpha(opacity=15);
  }
  .home-core-values .home-core-values_values {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 10px;
    top: 50%;
    margin-top: -40px;
  }
  .home-core-values span {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 2px;
    padding-top: 12px;
    font-size: 10px;
  }
  .home-core-values span.divider {
    display: none;
    color: #ddd;
  }
  .home-core-values .primary-btn {
    margin-top: 20px;
    color: #f59348;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––

-- Header

––––––––––––––––––––––––––––––––––––––––––– */
header.site-header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
}
header.site-header .container-large {
  position: relative;
}
header.site-header .site-header_shadow {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

.site-header__apply {
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 15px;
  -webkit-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.site-header__apply.active {
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.site-header__apply .apply-btn {
  display: block;
  width: 190px;
  height: 50px;
  background: #f59348;
  color: #273050;
  font-family: "Oswald";
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
}

.site-header--js {
  -webkit-transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.site-header--js.hide {
  -moz-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -webkit-transform: translateY(-70px);
  transform: translateY(-70px);
}

.site-header__logo {
  float: left;
}
.site-header__logo img {
  display: block;
}

.site-header__nav li {
  display: inline-block;
  font-size: 13px;
  line-height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: #273050;
}
.site-header__nav li a {
  color: #273050;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.site-header__nav li a:hover {
  color: #f59348;
}
.site-header__nav i {
  font-size: 10px;
  vertical-align: 1.5px;
  margin-left: 5px;
}
.site-header__nav .has-sub-menu {
  position: relative;
  cursor: pointer;
}
.site-header__nav .sub-menu {
  display: none;
  position: absolute;
  left: -20px;
  width: 200px;
  background: rgba(24, 36, 67, 0.95);
}
.site-header__nav .sub-menu li {
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}
.site-header__nav .sub-menu li:first-child {
  border-top: none;
}
.site-header__nav .sub-menu li a {
  color: white;
  display: block;
  padding: 20px 20px;
}
.site-header__nav .sub-menu li a:hover {
  color: #f59348;
}

.site-header__nav-primary {
  float: left;
  margin-left: 40px;
}
.site-header__nav-primary li {
  margin: 0 40px 0 0;
}

.site-header__nav-secondary {
  float: right;
}
.site-header__nav-secondary li {
  margin: 0 0 0 20px;
}
.site-header__nav-secondary i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.mobile-contact {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
}
.mobile-contact li {
  display: inline-block;
  font-size: 13px;
  line-height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: #273050;
  margin: 0 0 0 15px;
}
.mobile-contact i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 0;
}

.mobile-menu-btn {
  display: none;
  position: absolute;
  left: 0;
  float: left;
  height: 70px;
  width: 70px;
  text-align: center;
  margin-right: 15px;
  background: #273050;
}
.mobile-menu-btn span {
  display: block;
  position: absolute;
  width: 25px;
  left: 21px;
  height: 3px;
  background: white;
  -webkit-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.mobile-menu-btn span:nth-child(1) {
  top: 26px;
}
.mobile-menu-btn span:nth-child(2) {
  top: 33px;
}
.mobile-menu-btn span:nth-child(3) {
  bottom: 27px;
}
.mobile-menu-btn.active span:nth-child(1) {
  top: 34px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu-btn.active span:nth-child(2) {
  display: none;
}
.mobile-menu-btn.active span:nth-child(3) {
  bottom: 33px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mobile-menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: #273050;
  padding-top: 70px;
  padding-bottom: 40px;
  padding: 80px 0 40px 0;
  text-align: center;
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#mobile-menu.active {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#mobile-menu li {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-family: "Oswald";
  letter-spacing: 0.5px;
}
#mobile-menu li a {
  color: white;
  display: inline-block;
}
#mobile-menu li a:hover {
  color: #f59348;
}
#mobile-menu li a.mobile-menu-apply {
  color: #f59348;
}
#mobile-menu li li {
  position: relative;
  font-size: 13px;
  padding: 12px 0;
  font-family: "Montserrat";
  letter-spacing: 0px;
}
#mobile-menu li li:last-child {
  padding-bottom: 0;
}
#mobile-menu li li a {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}
#mobile-menu li li a:hover {
  color: #f59348;
}
#mobile-menu li.mobile-menu-header {
  position: relative;
  color: white;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#mobile-menu li.mobile-menu-header:last-child {
  border-bottom: none;
}
#mobile-menu li.mobile-menu-header ul {
  margin-top: 15px;
}
#mobile-menu li.mobile-menu-header i {
  font-size: 13px;
  position: absolute;
  right: 0;
  top: 21px;
}

@media (max-width: 800px) {
  .site-header__nav-primary {
    margin-left: 25px;
  }
  .site-header__nav-primary li {
    margin: 0 25px 0 0;
  }

  .site-header__nav-secondary li {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 720px) {
  .mobile-menu-btn, .mobile-contact {
    display: block;
  }

  .site-header__logo {
    left: 0;
    float: none;
    width: 100%;
    text-align: center;
  }
  .site-header__logo img {
    display: inline-block;
  }

  .site-header__nav {
    display: none;
  }

  .site-header__apply {
    width: 100%;
    right: 0px;
  }
  .site-header__apply .apply-btn {
    width: 100%;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––

-- Footer

––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background: #f9f9f9;
}
footer .container {
  max-width: 1280px;
  padding: 120px 0 40px 0;
}
footer .social-menu {
  text-align: center;
}
footer .social-menu li {
  font-size: 25px;
  display: inline-block;
  margin: 0 20px;
}
footer .social-menu li a {
  color: #273050;
}
footer .footer-menu {
  text-align: center;
  margin-top: 30px;
}
footer .footer-menu li {
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
footer .footer-menu li:last-child {
  border-right: none;
}
footer .footer-menu li a {
  color: #273050;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
footer .footer-menu li a:hover {
  color: #f59348;
}
footer .apply-btn {
  display: block;
  width: 190px;
  height: 50px;
  background: #f59348;
  color: #273050;
  font-family: "Oswald";
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 auto 40px auto;
}
footer .copyright {
  margin-top: 75px;
  text-align: center;
}
footer .copyright span {
  display: inline-block;
  font-size: 12px;
  color: #999;
}

@media (max-width: 480px) {
  footer {
    background: #f9f9f9;
  }
  footer .container {
    max-width: 1280px;
    padding: 50px 0 40px 0;
  }
  footer .social-menu {
    text-align: center;
  }
  footer .social-menu li {
    font-size: 20px;
    display: inline-block;
    margin: 0 15px;
  }
  footer .social-menu li a {
    color: #273050;
  }
  footer .footer-menu {
    text-align: center;
    margin-top: 30px;
  }
  footer .footer-menu li {
    display: block;
    padding: 0 10px;
    border-right: none;
    margin-bottom: 15px;
  }
  footer .footer-menu li:last-child {
    border-right: none;
    margin-bottom: 0;
  }
  footer .footer-menu li a {
    color: #273050;
    -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  footer .footer-menu li a:hover {
    color: #f59348;
  }
  footer .apply-btn {
    display: none;
  }
  footer .copyright {
    margin-top: 40px;
    text-align: center;
  }
  footer .copyright span {
    display: inline-block;
    font-size: 10px;
    color: #999;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––

-- Driver Stories

––––––––––––––––––––––––––––––––––––––––––– */
.driver-hero {
  position: relative;
  width: 100%;
  height: 90%;
  max-height: 1024px;
  min-height: 600px;
}
.driver-hero #driver-hero-copy {
  position: absolute;
  width: 100%;
  bottom: 90px;
  z-index: 2;
  text-align: center;
}
.driver-hero #driver-hero-copy h2 {
  position: relative;
  z-index: 4;
  font-size: 160px;
  line-height: 160px;
  color: white;
}
.driver-hero #driver-hero-copy h2:after {
  width: 100px;
  height: 5px;
}
.driver-hero .driver-hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e2e;
  overflow: hidden;
}
.driver-hero .driver-hero-img img {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-backface-visibility: none;
}
.driver-hero .driver-hero-img img.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

@media (max-width: 960px) {
  .driver-hero {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .driver-hero #driver-hero-copy h2 {
    position: relative;
    z-index: 4;
    font-size: 120px;
    line-height: 120px;
    color: white;
  }
  .driver-hero #driver-hero-copy h2:after {
    width: 70px;
    height: 4px;
  }
}
@media (max-width: 600px) {
  .driver-hero {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .driver-hero #driver-hero-copy {
    bottom: 60px;
  }
  .driver-hero #driver-hero-copy h2 {
    position: relative;
    z-index: 4;
    font-size: 80px;
    line-height: 80px;
    color: white;
  }
  .driver-hero #driver-hero-copy h2:after {
    width: 50px;
    height: 4px;
  }
}
@media (max-width: 480px) {
  .driver-hero #driver-hero-copy {
    bottom: 40px;
  }
  .driver-hero #driver-hero-copy h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .driver-hero #driver-hero-copy h2:after {
    width: 50px;
    height: 4px;
  }
}
.driver-story-wrap {
  position: relative;
  padding: 120px 0;
}
.driver-story-wrap .col-1-2:first-child {
  padding-right: 30px;
}
.driver-story-wrap .col-1-2:last-child {
  padding-left: 30px;
}
.driver-story-wrap .driver-story-quick-stats {
  padding: 30px;
  background: #f9f9f9;
}
.driver-story-wrap .driver-story-quick-stats li {
  display: block;
  font-size: 16px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.driver-story-wrap .driver-story-quick-stats li:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  background: #f59348;
  vertical-align: 5px;
  margin-right: 10px;
}
.driver-story-wrap .driver-story-img-slides {
  position: absolute;
  width: 50%;
  top: 5px;
  left: 0;
  padding-right: 30px;
}
.driver-story-wrap .driver-story-img-slides img {
  display: block;
  width: 100%;
  height: auto;
}
.driver-story-wrap h4 {
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
  margin-top: 40px;
}
.driver-story-wrap h4:first-of-type {
  margin-top: 0;
}
.driver-story-wrap blockquote {
  padding: 90px 0;
  width: 100%;
  text-align: center;
}
.driver-story-wrap blockquote p {
  font-size: 60px;
  line-height: 65px;
  font-family: "Oswald";
  font-weight: 600;
  text-transform: uppercase;
}
.driver-story-wrap figcaption {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}

.driver-story-next-btn {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 50%;
  margin-top: -35px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}
.driver-story-next-btn i {
  font-size: 14px;
  color: #273050;
}

@media (max-width: 600px) {
  .driver-story-wrap {
    padding: 30px 0;
  }
  .driver-story-wrap .col-1-2 {
    width: 100%;
    float: none;
  }
  .driver-story-wrap .col-1-2:first-child {
    padding-right: 0;
  }
  .driver-story-wrap .col-1-2:last-child {
    padding-left: 0;
  }
  .driver-story-wrap .driver-story-img-slides {
    position: relative;
    width: 100%;
    padding: 30px 0 15px 0;
  }
  .driver-story-wrap blockquote {
    padding: 30px 0;
  }
  .driver-story-wrap blockquote p {
    font-size: 40px;
    line-height: 45px;
  }
  .driver-story-wrap figcaption {
    font-size: 12px;
  }

  .driver-story-next-btn {
    right: 10px;
    width: 40px;
    height: 40px;
  }
}
.driver-story-paginate {
  background: #273050;
  padding: 200px 0 120px 0;
  text-align: center;
}
.driver-story-paginate .bg-text {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -180px;
  z-index: 0;
  font-size: 200px;
  line-height: 200px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.035);
}
.driver-story-paginate .col-1-2 {
  position: relative;
  z-index: 2;
  padding: 0 40px;
  perspective: 800px;
}
.driver-story-paginate .col-1-2 img {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: auto;
  will-change: transform;
  -webkit-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 40px 90px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.driver-story-paginate .col-1-2 h4 {
  position: absolute;
  z-index: 6;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
  -webkit-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.driver-story-paginate .primary-btn {
  position: relative;
  z-index: 0;
  color: #f59348;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .driver-story-paginate {
    padding: 90px 0 60px 0;
  }
  .driver-story-paginate .bg-text {
    margin-top: -60px;
    font-size: 90px;
    line-height: 90px;
  }
  .driver-story-paginate .container {
    max-width: 315px;
  }
  .driver-story-paginate .col-1-2 {
    width: 100%;
    float: none;
    padding: 20px 0;
  }
  .driver-story-paginate .col-1-2 h4 {
    bottom: 50px;
    font-size: 25px;
    line-height: 25px;
  }
}
.driver-stories-grid {
  background: #273050;
  padding: 240px 0 120px 0;
  text-align: center;
}
.driver-stories-grid .container {
  margin-bottom: 80px;
}
.driver-stories-grid .container:last-of-type {
  margin-bottom: 0;
}
.driver-stories-grid .bg-text {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -120px;
  z-index: 0;
  font-size: 300px;
  line-height: 300px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.035);
}
.driver-stories-grid h3 {
  font-size: 60px;
  line-height: 60px;
  color: white;
  margin-bottom: 80px;
}
.driver-stories-grid .col-1-2 {
  position: relative;
  z-index: 2;
  perspective: 800px;
  padding: 0 40px;
}
.driver-stories-grid .col-1-2 img {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: auto;
  will-change: transform;
  -webkit-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 40px 90px 0 rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.driver-stories-grid .col-1-2 h4 {
  position: absolute;
  z-index: 6;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
  -webkit-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 1100px) {
  .driver-stories-grid {
    padding: 220px 0 120px 0;
  }
  .driver-stories-grid .bg-text {
    margin-top: -80px;
    font-size: 200px;
    line-height: 200px;
  }
}
@media (max-width: 800px) {
  .driver-stories-grid {
    padding: 200px 0 120px 0;
  }
  .driver-stories-grid .container {
    max-width: 315px;
    margin-bottom: 0;
  }
  .driver-stories-grid .bg-text {
    margin-top: -60px;
    font-size: 150px;
    line-height: 150px;
  }
  .driver-stories-grid h3 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 40px;
  }
  .driver-stories-grid .col-1-2 {
    width: 100%;
    float: none;
    padding: 20px 0;
  }
  .driver-stories-grid .col-1-2 h4 {
    bottom: 50px;
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 600px) {
  .driver-stories-grid {
    padding: 210px 0 60px 0;
  }
  .driver-stories-grid .bg-text {
    margin-top: -80px;
    font-size: 90px;
    line-height: 90px;
  }
  .driver-stories-grid h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.bg-blue {
  background: #273050;
}

.apply-now-hero {
  position: relative;
  width: 100%;
  height: 70%;
  min-height: 600px;
  background: #273050;
}
.apply-now-hero #apply-now-hero-copy {
  position: absolute;
  width: 100%;
  padding-top: 70px;
  z-index: 2;
  text-align: center;
}
.apply-now-hero #apply-now-hero-copy h2 {
  position: relative;
  z-index: 4;
  font-size: 85px;
  line-height: 85px;
  color: white;
}
.apply-now-hero #apply-now-hero-copy h2:after {
  width: 100px;
  height: 5px;
}
.apply-now-hero #apply-now-hero-copy p {
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin: 30px auto 0 auto;
  max-width: 600px;
}
.apply-now-hero #apply-now-hero-copy .apply-btn {
  display: inline-block;
  margin-top: 40px;
  width: 230px;
  height: 50px;
  background: #f59348;
  color: #273050;
  font-family: "Oswald";
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
}
.apply-now-hero .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e2e;
  overflow: hidden;
}
.apply-now-hero .video-wrap video {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-backface-visibility: none;
}

@media (max-width: 960px) {
  .apply-now-hero {
    position: relative;
    width: 100%;
    height: 85%;
    min-height: 85%;
  }
  .apply-now-hero #apply-now-hero-copy h2 {
    font-size: 70px;
    line-height: 70px;
  }
  .apply-now-hero #apply-now-hero-copy h2:after {
    width: 60px;
  }
}
@media (max-width: 600px) {
  .apply-now-hero {
    position: relative;
    width: 100%;
    height: 85%;
    min-height: 85%;
  }
  .apply-now-hero #apply-now-hero-copy {
    padding: 50px 30px 0 30px;
  }
  .apply-now-hero #apply-now-hero-copy h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 480px) {
  .apply-now-hero {
    position: relative;
    width: 100%;
    height: 85%;
    min-height: 85%;
  }
  .apply-now-hero #apply-now-hero-copy h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .apply-now-hero #apply-now-hero-copy h2:after {
    width: 50px;
  }
  .apply-now-hero #apply-now-hero-copy p {
    display: none;
  }
  .apply-now-hero .video-wrap video {
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
}
.apply-now-wrap {
  position: relative;
  margin-top: -50px;
  padding: 0 0 50px 0;
}
.apply-now-wrap > .container {
  max-width: 750px;
}

@media (max-width: 600px) {
  .apply-now-wrap {
    padding: 30px 0;
  }
}
.apply-form {
  background: white;
  border-radius: 6px;
  text-align: center;
  padding: 30px 30px 50px 30px;
  box-shadow: 0 40px 140px 0 rgba(0, 0, 0, 0.35);
}
.apply-form h3 {
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: #273050;
  padding-top: 20px;
}
.apply-form p {
  font-size: 15px;
  line-height: 25px;
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  text-align: center;
  color: #273050;
}

form {
  margin-top: 30px;
}
form .fields {
  margin-top: 2%;
}
form .fields:first-child {
  margin-top: 0;
}
form .fields .col-1-2 {
  width: 49%;
}
form .fields .col-1-2:first-child {
  margin-right: 1%;
}
form .fields .col-1-2:last-child {
  margin-left: 1%;
}
form .fields .col-1-2 .col-1-2 {
  width: 48%;
}
form .fields .col-1-2 .col-1-2:first-child {
  margin-right: 2%;
}
form .fields .col-1-2 .col-1-2:last-child {
  margin-left: 2%;
}
form label {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
  text-align: left;
  color: #273050;
}
form .required {
  font-size: 18px;
  font-weight: 600;
  color: #f59348;
}
form input[type="text"], form input[type="email"] {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  height: 40px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #273050;
  -webkit-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
form input[type="text"]:focus, form input[type="email"]:focus {
  outline: none;
}
form input[type="text"].placeholder, form input[type="email"].placeholder {
  color: #273050;
}
form input[type="text"]:-moz-placeholder, form input[type="email"]:-moz-placeholder {
  color: #273050;
}
form input[type="text"]::-webkit-input-placeholder, form input[type="email"]::-webkit-input-placeholder {
  color: #273050;
}
form input[type="text"]:-ms-input-placeholder, form input[type="email"]:-ms-input-placeholder {
  color: #273050;
}
form .custom-select {
  position: relative;
}
form .custom-select select {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #273050;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
form .custom-select select:focus {
  outline: none;
}
form .custom-select:after {
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 10px;
  color: #273050;
  right: 15px;
  top: 15px;
  padding: 0 0 1px;
  position: absolute;
  pointer-events: none;
}
form button.apply-btn {
  display: inline-block;
  margin-top: 20px;
  width: 230px;
  height: 50px;
  background: #f59348;
  color: #273050;
  font-family: "Oswald";
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
}
form .checkbox {
  margin-top: 30px;
}
form .checkbox label {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}
form .checkbox input {
  margin-top: 1px;
  margin-right: 8px;
  vertical-align: middle;
}
form .cancel-btn {
  font-size: 14px;
  color: #f59348;
  display: inline-block;
  margin: 15px auto 0 auto;
  cursor: pointer;
}

@media (max-width: 600px) {
  .apply-form {
    padding: 20px 10px 30px 10px;
    box-shadow: 0 10px 70px 0 rgba(0, 0, 0, 0.35);
  }
  .apply-form h3 {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #273050;
    padding-top: 10px;
  }
  .apply-form p {
    font-size: 14px;
    line-height: 20px;
    max-width: 600px;
    margin: 0 auto 0 auto;
    padding-top: 10px;
    text-align: center;
    color: #273050;
  }

  form {
    margin-top: 30px;
  }
  form .fields {
    margin-top: 7%;
  }
  form .fields:first-child {
    margin-top: 0;
  }
  form .fields .col-1-2 {
    width: 100%;
  }
  form .fields .col-1-2:first-child {
    margin-right: 0;
  }
  form .fields .col-1-2:last-child {
    margin-left: 0;
  }
  form .fields .col-1-2 .col-1-2 {
    width: 100%;
  }
  form .fields .col-1-2 .col-1-2:first-child {
    margin-right: 0%;
  }
  form .fields .col-1-2 .col-1-2:last-child {
    margin-left: 0%;
  }
  form input[type="text"], form input[type="email"], form .custom-select {
    margin-top: 5px;
  }
  form .checkbox label {
    font-size: 12px;
  }
  form label {
    font-size: 14px;
  }
  form .required {
    font-size: 14px;
  }
}
.career-wrap {
  position: relative;
  padding: 90px 0;
}
.career-wrap h2 {
  font-size: 50px;
  line-height: 55px;
  text-align: center;
}
.career-wrap p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  max-width: 700px;
  margin: 25px auto 0 auto;
}

.act-video {
  position: relative;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 30px;
  max-width: 700px;
  margin: 0 auto;
}
.act-video .poster {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 30px 120px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  background: #191e2e;
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.act-video .poster img {
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.act-video .poster-left {
  max-width: 600px;
  position: absolute;
  left: -250px;
  z-index: 0;
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
  background: #191e2e;
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.act-video .poster-left img {
  display: block;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.act-video .poster-right {
  max-width: 600px;
  position: absolute;
  right: -250px;
  z-index: 0;
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
  background: #191e2e;
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.act-video .poster-right img {
  display: block;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  z-index: 6;
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  text-align: center;
}
.video-play-btn i {
  font-size: 18px;
  line-height: 77px;
}

.career-menu {
  padding: 30px 0 0 0;
  text-align: center;
}
.career-menu li {
  display: inline-block;
  font-size: 22px;
  line-height: 27px;
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.career-menu li.active {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
  border-bottom: 4px solid #f59348;
}

.career-hero {
  position: relative;
  width: 100%;
  height: 70%;
  min-height: 600px;
  background: #273050;
}
.career-hero .container-large {
  height: 100%;
}
.career-hero #career-hero-copy {
  position: absolute;
  width: 100%;
  padding-top: 70px;
  z-index: 2;
}
.career-hero #career-hero-copy h2 {
  position: relative;
  z-index: 4;
  font-size: 85px;
  line-height: 85px;
  color: white;
}
.career-hero #career-hero-copy h2:after {
  width: 100px;
  height: 5px;
}
.career-hero #career-hero-copy h3 {
  position: relative;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  margin-left: 5px;
  color: white;
}
.career-hero #career-hero-copy p {
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin: 30px auto 0 auto;
  max-width: 600px;
}
.career-hero #career-hero-copy .apply-btn {
  display: inline-block;
  margin-top: 40px;
  width: 230px;
  height: 50px;
  background: #f59348;
  color: #273050;
  font-family: "Oswald";
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
}
.career-hero .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e2e;
  overflow: hidden;
}
.career-hero .img-wrap img {
  display: block;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.benefits {
  padding-bottom: 120px;
}
.benefits h4 {
  font-size: 25px;
  line-height: 25px;
}
.benefits ul {
  margin-top: 20px;
}
.benefits ul li {
  display: block;
  max-width: 230px;
  margin-bottom: 10px;
  font-size: 15px;
}
.benefits ul li:last-child {
  margin-bottom: 0;
}

.qualifications {
  padding: 90px;
  background: #273050;
}
.qualifications h4 {
  font-size: 25px;
  line-height: 25px;
  color: white;
}
.qualifications ul {
  margin-top: 20px;
}
.qualifications ul li {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.qualifications ul li:last-child {
  margin-bottom: 0;
}
.qualifications .col-1-2:first-child {
  padding-right: 30px;
}
.qualifications .col-1-2:last-child {
  padding-left: 30px;
}

.career-content-hiring-area {
  padding: 90px 0;
  max-width: 1440px;
  margin: 0 auto;
  background: url(../img/map-bg.jpg) no-repeat -60px -180px;
  background-size: auto 600px;
}
.career-content-hiring-area h3 {
  font-size: 25px;
  line-height: 30px;
  color: #273050;
  margin-bottom: 20px;
}
.career-content-hiring-area p {
  max-width: 400px;
}
.career-content-hiring-area a.apply-btn {
  margin-top: 30px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––

-- About Us

––––––––––––––––––––––––––––––––––––––––––– */
.about-hero {
  position: relative;
  width: 100%;
  height: 90%;
  max-height: 800px;
  min-height: 600px;
}
.about-hero #about-hero-copy {
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
}
.about-hero #about-hero-copy h2 {
  position: relative;
  z-index: 4;
  font-size: 160px;
  line-height: 160px;
  color: white;
}
.about-hero #about-hero-copy h2:after {
  width: 100px;
  height: 5px;
}
.about-hero .img-wrap {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e2e;
  overflow: hidden;
}
.about-hero .img-wrap img {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-backface-visibility: none;
}
.about-hero .img-wrap img.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

@media (max-width: 960px) {
  .about-hero {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .about-hero #about-hero-copy h2 {
    position: relative;
    z-index: 4;
    font-size: 120px;
    line-height: 120px;
    color: white;
  }
  .about-hero #about-hero-copy h2:after {
    width: 70px;
    height: 4px;
  }
}
@media (max-width: 600px) {
  .about-hero {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .about-hero #about-hero-copy {
    bottom: 60px;
  }
  .about-hero #about-hero-copy h2 {
    position: relative;
    z-index: 4;
    font-size: 80px;
    line-height: 80px;
    color: white;
  }
  .about-hero #about-hero-copy h2:after {
    width: 50px;
    height: 4px;
  }
}
@media (max-width: 480px) {
  .about-hero #about-hero-copy {
    bottom: 40px;
  }
  .about-hero #about-hero-copy h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .about-hero #about-hero-copy h2:after {
    width: 50px;
    height: 4px;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––

-- Media

––––––––––––––––––––––––––––––––––––––––––– */
.media-hero {
  position: relative;
  width: 100%;
  height: 350px;
  background: #273050;
}
.media-hero #apply-now-hero-copy {
  position: absolute;
  width: 100%;
  padding-top: 70px;
  z-index: 2;
  text-align: center;
}
.media-hero #apply-now-hero-copy h2 {
  position: relative;
  z-index: 4;
  font-size: 60px;
  line-height: 60px;
  color: white;
}
.media-hero #apply-now-hero-copy h2:after {
  width: 100px;
  height: 5px;
}

.media-wrap {
  padding: 90px 0;
}

.video-cat {
  margin-top: 90px;
}
.video-cat:first-of-type {
  margin-top: 0;
}

.video-cat-title {
  width: 20%;
  float: left;
}
.video-cat-title h3 {
  font-size: 25px;
  line-height: 25px;
}
.video-cat-title span {
  font-size: 13px;
}

.video-cat-list {
  width: 80%;
  float: left;
}
.video-cat-list .video-cat-list-item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
.video-cat-list .video-cat-list-item-thumb {
  float: left;
  margin-right: 25px;
}
.video-cat-list .video-cat-list-item-thumb img {
  max-width: 200px;
}
.video-cat-list .video-cat-list-item-description {
  float: left;
  vaertical-align: bottom;
}
.video-cat-list .video-cat-list-item-description h4 {
  font-family: "Montserrat";
  text-transform: none;
  letter-spacing: 0;
  font-size: 17px;
  line-height: 17px;
}
.video-cat-list .video-cat-list-item-description p {
  margin-top: 5px;
  font-size: 14px;
}
.video-cat-list .video-cat-list-item-play-group {
  margin-top: 15px;
}
.video-cat-list .video-cat-list-item-play-group .play-btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background: #273050;
  text-align: center;
}
.video-cat-list .video-cat-list-item-play-group .play-btn i {
  font-size: 6px;
  color: white;
  vertical-align: 4px;
}
.video-cat-list .video-cat-list-item-play-group strong {
  font-size: 12px;
  font-weight: 600;
}
.video-cat-list .video-cat-list-item-play-group .video-duration {
  font-size: 12px;
}

.link_secondary {
  color: #273050;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
