/* ––––––––––––––––––––––––––––––––––––––––––––

-- About Us

––––––––––––––––––––––––––––––––––––––––––– */
.about-hero{
    position:relative;
    width:100%;
    height:90%;
    max-height:800px;
    min-height:600px;
    #about-hero-copy{
        position:absolute;
        width:100%;
        z-index:2;
        text-align:center;
        h2{
            position:relative;
            z-index:4;
            font-size:160px;
            line-height:160px;
            color:white;
            &:after{
                width:100px;
                height:5px;
            }
        }
    }
    .img-wrap{
        position:absolute;
        z-index:0;
        top:0;left:0;
        width:100%;
        height:100%;
        background:$dark_blue;
        overflow:hidden;
        img{
            z-index:0;
            display:block;
            position:absolute;
            top:0;left:0;
            width:100%;
            @include opacity(0.5);
            -webkit-backface-visibility: none;
            &.hide{
                @include opacity(0);
            }
        }
    }
}

@media(max-width:960px){

    .about-hero{
        position:relative;
        width:100%;
        height:100%;
        min-height:100%;
        #about-hero-copy{
            h2{
                position:relative;
                z-index:4;
                font-size:120px;
                line-height:120px;
                color:white;
                &:after{
                    width:70px;
                    height:4px;
                }
            }
        }
    }
    
}



@media(max-width:600px){

    .about-hero{
        position:relative;
        width:100%;
        height:100%;
        #about-hero-copy{
            bottom:60px;
            h2{
                position:relative;
                z-index:4;
                font-size:80px;
                line-height:80px;
                color:white;
                &:after{
                    width:50px;
                    height:4px;
                }
            }
        }
    } 
}
@media(max-width:480px){

    .about-hero{
        
        #about-hero-copy{
            bottom:40px;
            h2{
                
                font-size:50px;
                line-height:50px;
                
                &:after{
                    width:50px;
                    height:4px;
                }
            }
        }
    } 
}


.team-grid{
    padding:120px 0;
    border-top:1px solid #ddd;
    text-align:center;
    h3{
        font-size:40px;
        line-height:40px;
    }
    .grid{
        margin-top:60px;
    }
    .col-1-4{
        width:22%;
        margin:0 1.5% 30px 1.5%;
        img{
            display:block;
            width:100%;
            height:auto;
        }
        .team-grid-name{
            margin-top:10px;
            h4{
                letter-spacing:0;
                font-size:16px;
                line-height:18px;
            }
            span{
                font-size:12px;
            }
        }
    }
}


.remembering-tom{
    padding:150px 0;
    background:$primary;
    h4{
        font-size:40px;
        line-height:40px;
        color:white;
        margin-bottom:50px;
    }
    p{
        color:white;
    }
    .col-1-25{
        padding-right:30px;
        img{
            display:block;
            width:100%;
            height:100%;
            margin-top:117px;
        }
    }
    .col-1-75{
        position:relative;
        padding-left:30px;
        > div{
            width:100%;
        }
    }
    figcaption{
        display:block;
        text-align:center;
        font-size:14px;
        color:rgba(255,255,255,0.6);
        margin-top:10px;
    }
}
.remembering-tom-slider{
    position:relative;
    width:100%;
    margin:60px 0;
    .remembering-tom-slides{
        box-shadow:0 30px 90px 0 rgba(0,0,0,0.5);
    }
    img{
        display:block;
        width:100%;
        height:auto;
    }
    .remembering-tom-next-btn{
        position:absolute;
        cursor:pointer;
        z-index:10;
        top:50%;
        margin-top:-25px;
        right:-25px;
        width:50px;
        height:50px;
        background:white;
        box-shadow:0 3px 10px 0 rgba(0,0,0,0.4);
        border-radius:50px;
        i{
            font-size:16px;
            color:$primary;
        }
    }
}


.act-plaza{
    position:relative;
    padding:150px 0;
    border-top:1px solid #ddd;
    h2{
        font-size:40px;
        line-height:40px;
        text-align:center;
        margin-bottom:30px;
    }
    p{
        font-size:15px;
        line-height:25px;
        text-align:center;
        max-width:700px;
        margin:25px auto 0 auto;
    }
}
.act-plaza-slider{
    position:relative;
    margin-top:60px;
    .col-1-3{
        margin:0;
        &:focus{
            outline:none;
        }
    }
     img{
        display:block;
        width:100%;
        height:auto;
    }
    .act-plaza-next-btn{
        position:absolute;
        cursor:pointer;
        z-index:10;
        top:50%;
        margin-top:-25px;
        right:-10px;
        width:50px;
        height:50px;
        background:white;
        box-shadow:0 3px 10px 0 rgba(0,0,0,0.4);
        border-radius:50px;
        i{
            font-size:16px;
            color:$primary;
        }
    }

}

