/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-right{
    display:flex;
    justify-content: flex-end;
}
.flex-center-v{
    display:flex;
    align-items:center;
}
.flex-center-h{
    display:flex;
    justify-content:center;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
h1,h2,h3, h4{
    font-family:"Oswald";
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:1px;
}
h2{
    
}
h3{
    
}
h4{
    
}
a{
    text-decoration:none;
}
p{
    font-size:15px;
    line-height:25px;
    margin-top:15px;
    &:first-child{
        margin-top:0;
    }
}
.text-decor{
    position:relative;
    &:after{
        content:"";
        display:block;
        width:60px;
        height:3px;
        background:$orange;
        margin-top:15px;
    }
    &.text-decor_center{
        &:after{
            margin:15px auto 0 auto;
        }
    }
}

.tout-copy{
    z-index:2;
    position:relative;
    max-width:450px;
    padding:0 0;
    h3{
        font-size:45px;
        line-height:50px;
        text-transform:uppercase;
    }
    h4{
        font-size:20px;
        line-height:25px;
        text-transform:uppercase;
        margin-bottom:0px;
        color:$orange;
    }
}

.primary-btn{
    display:inline-block;
    border:none;
    background:transparent;
    color:$primary;
    font-family:"Montserrat";
    font-size:12px;
    font-weight:600;
    text-transform:uppercase;
    i{
        margin-left:10px;
    }
    &:focus{
        outline:none;
    }
    &:hover{
        i{
             @include animation('arrow-move .6s 1');
        }
    }
}


.scroll-cue{
    position:absolute;
    z-index:10;
    bottom:80px;
    font-family:"Oswald";
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:2px;
    font-size:12px;
    color:white;
    text-align:center;
    span{
        display:inline-block;
        position:relative;
    }
    &:after{
        position:absolute;
        top:35px;
        left:50%;
        margin-left:0;
        display:inline-block;
        content:"";
        width:1px;
        height:30px;
        background:rgba(255,255,255,0.4);
        animation:scrollCue 2s ease-out infinite;
    }
}


@keyframes scrollCue {
    0% {
        @include transform(translateY(0));
        height:30px;
    }
    55% {
        @include transform(translateY(0));
        height:30px;
    }
    70% {
        @include transform(translateY(30px));
        height:0;
    }
    85% {
        @include transform(translateY(0));
        height:0;
    }
    100% {
        @include transform(translateY(0));
        height:30px;
    }
}



/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
	-webkit-font-smoothing:antialiased;
    font-family:"Montserrat", sans-serif;
    color:$primary;
    &.active{
        overflow:hidden;
    }
}

#main{
    position:relative;
	width:100%;
    height:100%;
    margin:0 auto;
    //padding-top:70px;
    @include transform(translateX(0));
    @include transition(transform 0.6s $easeOutExpo);
    &.active{
        @include transform(translateX(250px));
        
    }
}
.container{
	position:relative;
	width:100%;
	max-width:960px;
	margin:0 auto;
    padding:0 15px;
}
.container-large{
    position:relative;
    width:100%;
    max-width:1280px;
    margin:0 auto;
    padding:0 15px;
}


section{
    
}
.row{
	
}
.col-1-2{
	width:50%;
	float:left;
    img{
        width:100%;
    }
}
.col-1-3{
	width:32.666666%;
	float:left;
    margin-right:1%;
    &:last-child{
        margin-right:0;
    }
}
.col-1-4{
	width:25%;
	float:left;
}
.col-1-5{
    width:20%;
    float:left;
    img{
        display:block;
        width:100%;
        height:auto;
    }
}
.col-1-75{
    width:75%;
    float:left;
    img{
        width:100%;
    }
}
.col-1-25{
    width:25%;
    float:left;
}




@include keyframes(arrow-move) {
  0%   { 
    @include transform(translateX(0));
    @include opacity(1);
  }
  20%   { 
    @include transform(translateX(20px));
    @include opacity(0);
  }
  30%   { 
    @include transform(translateX(-20px));
    @include opacity(0);
  }
  100%   { 
    @include transform(translateX(0));
    @include opacity(1);
  }
}




.home-hero{
    position:relative;
    width:100%;
    height:90%;
    max-height:960px;
    min-height:600px;
    #home-hero-copy{
        position:relative;
        z-index:2;
        text-align:center;
        &.hide{
            @include opacity(0);
        }
        .sliding-text{
            position:relative;
        }
        h2{
            position:relative;
            z-index:4;
            font-size:200px;
            line-height:200px;
            color:white;
            &:after{
                width:100px;
                height:5px;
            }
        }
    }
    .video-wrap{
        position:absolute;
        top:0;left:0;
        width:100%;
        height:100%;
        background:$dark_blue;
        overflow:hidden;
        video{
            z-index:0;
            display:block;
            position:absolute;
            top:0;left:0;
            width:100%;
            @include opacity(0.5);
            -webkit-backface-visibility: none;
            &.hide{
                @include opacity(0);
            }
        }
    }
}

@media(max-width:960px){

    .home-hero{
        position:relative;
        width:100%;
        height:100%;
        min-height:100%;
        #home-hero-copy{
            h2{
                position:relative;
                z-index:4;
                font-size:150px;
                line-height:150px;
                color:white;
                &:after{
                    width:70px;
                    height:4px;
                }
            }
        }
        .video-wrap{
            
        }
    }
    
}



@media(max-width:600px){

    .home-hero{
        position:relative;
        width:100%;
        height:100%;
        #home-hero-copy{
            h2{
                position:relative;
                z-index:4;
                font-size:80px;
                line-height:80px;
                color:white;
                &:after{
                    width:50px;
                    height:4px;
                }
            }
        }
        .video-wrap{
            
        }
    } 
}
@media(max-width:480px){

    .home-hero{
        
        #home-hero-copy{
            h2{
                
                font-size:65px;
                line-height:65px;
                
                &:after{
                    width:50px;
                    height:4px;
                }
            }
        }
        .video-wrap{
            
        }
    } 
}



.home-driver-stories{
    padding:250px 0 250px 0;
    background:$primary;
    overflow:hidden;
    //text-align:center;
    .bg-text{
        position:absolute;
        width:100%;
        text-align:center;
        margin-top:-190px;
        z-index:4;
        font-size:225px;
        line-height:225px;
        font-weight:500;
        color:rgba(255,255,255,0.035);
    }
    .col-1-2{
        position:relative;
        &:first-child{
            z-index:50;
            h4{
                position:absolute;
                width:100%;
                text-align:center;
                z-index:4;
                bottom:50px;
            }
        }
        &:last-child{
            padding:60px;
        }
    }
    h4{
        position:absolute;
        z-index:6;
        width:100%;
        text-align:center;
        bottom:50px;
        font-size:70px;
        line-height:70px;
        letter-spacing:2px;
        color:white;
    }
    h3{
        font-size:35px;
        line-height:35px;
        color:white;
    }
    p{
        color:rgba(255,255,255,0.5);
    }
    .primary-btn{
        margin-top:40px;
        color:$orange;
    }
    img{
        position:relative;
        z-index:2;
        display:block;
        box-shadow:0 50px 120px 0 rgba(0,0,0,0.7);
        border-radius:10px;
    }
}


@media(max-width:600px){

    .flipping-drivers-slider-next-btn{
        display:none;
    }
    .home-driver-stories{
        padding:70px 0 15px 0;
        .tout-copy{  
            max-width:100%;
            text-align:center;
        }
        .flex-center-v{
            display:block;
        }
        .bg-text{
            display:none;
        }
        .col-1-2{
            width:100%;
            float:none;
            &:last-child{
                padding:60px 0;
            }
        }
        p{
            font-size:14px;
            line-height:24px;
        }
        h4{
            display:none;
        }
        h3{
            font-size:30px;
            line-height:30px;
        }
        img{
            box-shadow:0 25px 60px 0 rgba(0,0,0,0.5);
        }
        .text-decor{
            &:after{
                margin:15px auto 0 auto;
            }
        }
    }
}


.flipping-drivers{
    perspective: 800px;
}
.flipping-drivers-slider{
    position:relative; 
}
.flipping-drivers-slide{
    position:relative;
    perspective: 800px;
    @include transform(rotateY(20deg));
    @include transition(all 1s $easeOutExpo);
    @include opacity(0);
    img, h4{
        will-change:transform;
        @include transition(transform 1.5s $easeOutExpo);
    }
    &.active{
        @include transform(rotateY(0) rotateX(0));
        @include opacity(1);
    }
}


.home-programs{
    overflow:hidden;
    position:relative;
    padding:0;
    text-align:center;
    padding:90px 0;
    h2{
        font-size:35px;
        line-height:35px;
    }
    .col-1-3{
        position:relative;
        background:white;
        margin: 0 8px;
        overflow:hidden;
        cursor:pointer;
        &:hover{
            img{
                @include transform(scale(1.05));
            }
        }
    }
    .program-img{
        position:relative;
        z-index:0;
        background:$dark_blue;
        img{
            display:block;
            width:100%;
            @include opacity(0.7);
            @include transition(transform 1.2s $easeOutExpo);
        }
    }
    .programs-copy{
        position:absolute;
        z-index:4;
        bottom:20px;
        left:20px;
        color:white;
        text-align:left;
        h4{
            font-size:20px;
            line-height:20px;
            font-weight:600;
            text-transform:uppercase;
        }
    }
}

@media(max-width:600px){
    .slider-next-btn{
        display:none;
    }

    .home-programs{
        position:relative;
        padding:0;
        text-align:center;
        padding:50px 0 0 0;
        .container{
            padding:0 15px;
        }
        h2{
            font-size:35px;
            line-height:35px;
        }
        p{
            font-size:14px;
            line-height:24px;
            //display:none;
        }
        .col-1-3{
            width:100%;
            float:none;
            position:relative;
            background:white;
            margin: 0 0 15px 0;
            overflow:hidden;
            cursor:pointer;
            &:hover{
                img{
                    @include transform(scale(1.05));
                }
            }
        }
        .program-img{
            position:relative;
            z-index:0;
            background:$dark_blue;
            img{
                display:block;
                width:100%;
                @include opacity(0.7);
                @include transition(transform 1.2s $easeOutExpo);
            }
        }
        .programs-copy{
            position:absolute;
            z-index:4;
            bottom:20px;
            left:20px;
            color:white;
            text-align:left;
            h4{
                font-size:20px;
                line-height:20px;
                font-weight:600;
                text-transform:uppercase;
            }
        }
    }

}

@media(max-width:480px){

    .home-programs{
        h2{
            font-size:30px;
            line-height:30px;
        }
    }
}


.home-programs-slider{
    position:relative;
    margin-top:40px;
    .slick-slide{
        &:focus{
            outline:none;
        }
    }
}
.slick-dots{
    //position:absolute;
    //bottom:-40px;
    margin-top:20px;
    width:100%;
    text-align:center;
    li{
        display:inline-block;
        width:10px;
        height:10px;
        margin:0 6px;
        button{
            border:none;
            background:#ccc;
            width:10px;
            height:10px;
            border:none;
            border-radius:10px;
            text-indent:-9999px;
            overflow:hidden;
            padding:0;
            cursor:pointer;
            &:focus{
                outline:none;
            }
        }
        &.slick-active{
            button{
                background:$primary;
            }
        }
    }
}
.slider-next-btn{
    position:absolute;
    cursor:pointer;
    z-index:10;
    top:50%;
    margin-top:35px;
    right:-40px;
    width:20px;
    height:20px;
    i{
        font-size:20px;
        color:$primary;
    }
}
.flipping-drivers-slider-next-btn{
    position:absolute;
    cursor:pointer;
    z-index:10;
    top:50%;
    margin-top:-30px;
    right:-30px;
    width:56px;
    height:56px;
    background:white;
    box-shadow:0 6px 20px 0 rgba(0,0,0,0.4);
    border-radius:60px;
    i{
        font-size:18px;
        color:$primary;
    }
}



.home-core-values{
    overflow:hidden;
    position:relative;
    padding:100px 0 70px 0;
    background:white;
    text-align:center;
    h2{
        //position:absolute;
        font-size:150px;
        line-height:170px;
        font-weight:600;
        color:$primary;
        @include opacity(0.1);
    }
    .home-core-values_values{
        position:absolute;
        width:100%;
        text-align:center;
        height:20px;
        top:50%;
        margin-top:-22px;
    }
    span{
        display:inline-block;
        font-weight:600;
        text-transform:uppercase;
        margin:0 5px;
        padding-top:12px;
        &.divider{
            color:#ddd;
        }
    }
    .primary-btn{
        margin-top:30px;
        color:$orange;
    }
}


@media(max-width:480px){

    .home-core-values{
        overflow:hidden;
        position:relative;
        padding:40px 0 50px 0;
        background:white;
        text-align:center;
        h2{
            font-size:50px;
            line-height:70px;
            font-weight:600;
            color:$primary;
            @include opacity(0.15);
        }
        .home-core-values_values{
            position:absolute;
            width:100%;
            text-align:center;
            height:10px;
            top:50%;
            margin-top:-40px;
        }
        span{
            display:inline-block;
            font-weight:600;
            text-transform:uppercase;
            margin:0 2px;
            padding-top:12px;
            font-size:10px;
            &.divider{
                display:none;
                color:#ddd;
            }
        }
        .primary-btn{
            margin-top:20px;
            color:$orange;
        }
    }
}



