$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */


$primary:#273050;
$secondary:#999;
$dark_blue:#191e2e;
$orange:#f59348;
$light_gray:#f9f9f9;


$header-height:70px;
